@media (width < 768px) {
    
    .nav-bar {
        grid-template-columns: 80% 1fr;
    }
    
    .nav-menu {
        display: none;
    }

    .toggle-btn {
        display: flex;
        background-color: transparent;
        border: none;
    }

    .fa-bars, .fa-xmark {
        font-size: 2rem;
        animation: rotate ease;
    }

    .active-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #161616;
        position: absolute;
        top: 5rem;
        right: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        animation: menuTranslate ease-in-out 1s;
    }

    @keyframes menuTranslate {
        from {
            filter: blur(10px);
            transform: translateX(100%);
        } to {
            filter: blur(0);
            transform: translateX(0);
        }
    }

    .active-menu li {
        border-bottom: #F3E600 1px solid;
        width: 100%;
        text-align: center;
    }

    .menu-link {
        color: #F3E600;
        font-size: 2rem;
    }

    .section {
        margin-bottom: 2rem;
    }

    .cards-container {
        width: 100%;
    }

    .card {
        width: 80%;
        height: 10rem;
    }
    .section-inbound {
        width: 100%;
    }
    
    .img-inbound {
        width: 100%;
    }

    .img-contact {
        width: 100%;
    }

    .section-contact {
        width: 100%;
        flex-direction: row-reverse;
        border-radius: 0;
    }

    .contact-content {
        padding-top: 1rem;
    }

    .content-footer {
        grid-template-columns: repeat(3, 1fr);
    }

}

