@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #161616;
    --bg-color: #F3E600;
    --plyr-color-main: #F3E600;
    --active-color: #373A40;
    /* --plyr-control-icon-size: 1.5rem; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 8rem;
    border-bottom: solid 3px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bg-color); /* Fondo blanco para asegurar la legibilidad */
}


.nav-bar {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: start; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-inline: auto;
    height: 100%;
    z-index: 10;
}

.img-logo-container {
    width: 100%;
    height: 8rem;
    background-image: url(img/360_logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-content {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.toggle-btn {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-link {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: clamp(1rem, 1.25vw, 4rem);
    font-weight: 500;
    padding: 1rem;
}

.active-menu-link {
    background-color: var(--primary-color);
    color: var(--bg-color);
}


/* Sweep To Bottom */

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: var(--bg-color);
  }
  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }


/* ESTILOS MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

/* ESTILOS MENU MOBILE */

.section-mobile-menu {
    display: flex;
    background-color: var(--primary-color);
    height: 100dvh;
}

/* ESTILOS VIDEO */

section {
    max-width: 1024px;
    margin-inline: auto;
    padding: 1rem;
    margin-bottom: 5rem;
}

.video-main {
    width: 100%;
}

/* ESTILOS SECCION CARDS */

.section-title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


#app {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.main-title {
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-weight: 900;
}

.cards-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    perspective: 1000px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 80%;
}

.card {
    /* flex: 0 0 calc(50% - 1rem);  */
    width: 15rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 3px solid var(--primary-color);
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 15px 15px var(--primary-color);
    padding: 5px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.card-title {
    font-size: 2rem;
}

.card-p {
    font-size: clamp(.75rem, 3vw, 1.25rem);
}

.card-img {
    width: clamp(2rem, 3vw, 2.5rem);
}

#countup3::after {
    content: '%';
}

.fa-solid {
    font-size: 1.5rem;
    background-color: var(--bg-color);
    border-radius: 100%;
    padding: 5px;
}

/* INBOUND SECTION */

.section-inbound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    min-height: 20rem;
    width: 1000px;   
}

.title-inbound {
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-weight: 900;
}

.servicios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 10rem;
    /* border: 1px solid black; */
}

.servicios-1, .servicios-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 400px;
    min-height: 2rem;
    gap: 1rem;
    /* border: 1px solid red; */
}

.btn-servicios-toggle-1, .btn-servicios-toggle-2 {
    border: 4px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 500;
    padding-inline: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: 400px;
    height: 6rem;
}

.btn-servicios-toggle-1:hover, .btn-servicios-toggle-2:hover {
    box-shadow: 0 0 15px var(--primary-color);
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.list-servicios-1, .list-servicios-2 {
    display: none;
}

.show-servicios {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style-type: circle;
    animation: appearList .5s ease-in-out;
    height: 30rem;
    gap: 1rem;
    margin-top: 1rem;
}

.mkt-img, .performance-img {
    width: 280px;
    text-align: center;
}

@keyframes appearList {
    from {
        filter: blur(5px);
        /* transform: translateX(200%); */
    } to {
        filter: blur(0);
        transform: translateX(0);
    }
}

.servicios-item {
    font-size: clamp(1.25rem, 1vw, 2rem);
    font-weight: 600;
    padding-left: 1rem;
    height: 100%;
}

.fa-chevron-down {
    background-color: transparent;
    font-size: 2rem;
}


/* CONTACT SECTION */

.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 40rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);

}

.contact-content {
    width: 30rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.contact-title {
    font-size: clamp(2rem, 5%, 5rem);
    font-weight: 800;
    text-transform: uppercase;
}

.contact-p {
    font-size: clamp(1.5rem, 1%, 3rem);
}

.img-contacto {
    width: 280px;
}

.contact-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
}

.social-link img {
    width: 100%;
}

.img-contact {
    width: clamp(10rem, 30rem, 40rem);
    filter: drop-shadow(0 0 15px #161616);
}

/* FOOTER ESTILOS */

footer {
    min-height: 8rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    display: grid;
    place-content: center;
}

/* .content-footer {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.content-footer {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 300px;
}

/* .footer-logo-container {
    background-image: url(img/logo_amarillo-puenteb.png);
    width: 20rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
} */

.footer-img-container {
    background-image: url(img/500_logo_amarillo.png);
    width: 20rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
}

.redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    margin-inline: auto;
}

.redes-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.direcciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    flex-wrap: wrap;
}

.direcciones > p {
    text-align: center;

}