@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #161616;
    --bg-color: #F3E600;
    --plyr-color-main: #F3E600;
    /* --plyr-control-icon-size: 1.5rem; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 5rem;
    border-bottom: solid 3px black;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: start;
    max-width: 1024px;
    margin-inline: auto;
    height: 100%;
}

h1 {
    padding-left: 1rem;
    font-size: clamp(2rem, 5%, 3rem);
}

.nav-content {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 1rem;
}

.toggle-btn {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-link {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 600;
}

/* ESTILOS MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ESTILOS VIDEO */

section {
    max-width: 1024px;
    margin-inline: auto;
    padding: 1rem;
    margin-bottom: 5rem;
}

.video-main {
    width: 100%;
}


/* ESTILOS SECCION CARDS */

.section-title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


#app {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.main-title {
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-weight: 900;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    background-color: white;
    border: 3px solid var(--primary-color);
    height: 18rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 15px 15px var(--primary-color);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.card-title {
    font-size: 2rem;
}

.card-p {
    font-size: 1.25rem;
}

.card-img {
    width: 3rem;
}

/* INBOUND SECTION */

.section-inbound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 40rem;
}

.inbound-content {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}


.inbound-title {
    font-size: clamp(2rem, 5%, 5rem);
    font-weight: 800;
}

.inbound-p {
    font-size: clamp(1.5rem, 1%, 3rem);
}

.img-inbound {
    width: clamp(10rem, 30rem, 40rem);
    filter: drop-shadow(0 0 15px #161616);
}

/* FOOTER ESTILOS */

footer {
    height: fit-content;
    background-color: var(--primary-color);
    color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(1fr);
}

.content-footer {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 300px;
}

.favicon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    margin-inline: auto;
}

.favicon-title h4 {
    font-size: 4rem;
}

.favicon-title p {
    font-size: 1.5rem;
}

.redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    margin-inline: auto;
}

.redes-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.direcciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    margin-inline: auto;
}

.direcciones > p {
    text-align: center;
}